@import './config.less';

// 媒体查询
@media only screen and (max-width: @mobile-max-width) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
} 
@media only screen and (min-width: @pc-min-width) {
  .pc {
    display: block;
  }
  .mobile {
    display: none;
  }
} 

// 版心
.w {
  max-width: @content-max-width;
  min-width: @content-min-width;
  margin: 0 auto;
}

// 按钮
.button {
  text-align: center;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: @color-theme;
  color: @color-white;
  border: @border-color-theme;
  line-height: 20px;
  font-size: 16px;
  padding: 4px 9px;
  cursor: pointer;
  transition: background-color linear @transition-time-short;
  &:hover {
    background-color: @color-white;
    color: @color-theme;
  }
}
.button-empty {
  text-align: center;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: @color-white;
  color: @color-theme;
  border: 1px solid @color-theme;
  line-height: 20px;
  font-size: 16px;
  padding: 4px 9px;
  cursor: pointer;
  transition: background-color linear .2s;
  &:hover {
    background-color: @color-theme;
    color: @color-white;
  }
}
.hover-button {
  cursor: pointer;
  transition: color @transition-time;
  position: relative;
  background-color: #fff;
  border: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: @color-theme;
    transition: left @transition-time, width @transition-time;
  }
  &:hover {
    color: @color-theme;
    &::after {
      left: 0;
      width: 100%;
    }
  }
  
}

div, p, span, a, input, button, textarea, select {
  box-sizing: border-box;
} 

// 宽度
.w50 {
  width: 50% !important;
}
.w100 {
  width: 100% !important;
}

// 内边距
.fp {
  padding: @field-padding !important;
}
.fpl {
  padding-left: @field-padding !important;
}
.fpr {
  padding-right: @field-padding !important;
}
.fpt {
  padding-top: @field-padding !important;
}
.fpb {
  padding-bottom: @field-padding !important;
}

.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}

.pr5 {
  padding-right: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}

// display
.inline-block {
  display: inline-block !important;
}

// 外边距
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}

// 浮动
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}