@import './config.scss';

// 按钮
.button {
  text-align: center;
  outline: none;
  background-color: $color-theme;
  color: $color-white;
  border: $border-color-theme;
  line-height: 20px;
  font-size: 16px;
  padding: 4px 9px;
  cursor: pointer;
  transition: background-color linear $transition-time-short;
  &:hover {
    background-color: $color-white;
    color: $color-theme;
  }
}
.button-empty {
  text-align: center;
  outline: none;
  background-color: $color-white;
  color: $color-theme;
  border: 1px solid $color-theme;
  line-height: 20px;
  font-size: 16px;
  padding: 4px 9px;
  cursor: pointer;
  transition: background-color linear .2s;
  &:hover {
    background-color: $color-theme;
    color: $color-white;
  }
}
.hover-button {
  cursor: pointer;
  transition: color $transition-time;
  position: relative;
  background-color: #fff;
  border: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $color-theme;
    transition: left $transition-time, width $transition-time;
  }
  &:hover {
    color: $color-theme;
    &::after {
      left: 0;
      width: 100%;
    }
  }
}

// 文本
.font {
  font-size: $font-size;
  line-height: $line-height;
}