@mobile-max-width: 480px;
@pc-min-width: @mobile-max-width + 1px;

@header-line-height: 30px; // 顶部菜单文本行高
@header-padding: 10px;  // 顶部菜单内边距
@header-height: @header-line-height + @header-padding * 2 + 1px; // 顶部菜单高度

@content-max-width: 1000px; //版心最大宽度
@content-min-width: 320px; //版心最小宽度

// 间距
@field-padding: 5px;

// 颜色
@color-theme: #87ceeb;  //主题色
@color-theme-dark: #5ba6c4;  //主题色-深
@color-theme-light: #deedf3;  //主题色-浅
@color-white: white;

// 边框
@border-width: 1px;  //默认边框宽度
@border-color: #ccc;  //默认边框颜色
@border: @border-width solid @border-color;  //默认边框
@border-color-theme: @border-width solid @color-theme;  //主题色边框



// 动画相关
@transition-time: .4s;
@transition-time-short: .2s;

