@header-height: 60px; // 顶部菜单高度
@content-max-width: 1000px; //版心最大宽度
@content-min-width: 500px; //版心最小宽度


// 颜色
@main-color: #87ceeb;  //主题色
@main-color-dark: #5ba6c4;  //主题色-深
@main-color-light: #deedf3;  //主题色-浅
@white: white;